In [4]:
import pandas as pd
import numpy as np

# Define column names and data types
columns = [
    ('ID', int),
    ('Name', str),
    ('Age', int),
    ('City', str),
    ('Country', str),
    ('Salary', float),
]

# Generate random data
data = {
    col[0]: [np.random.randint(18, 99) if col[1] == int else np.random.choice(['New York', 'London', 'Tokyo']) if col[1] == str else np.random.uniform(30000, 150000) for _ in range(100)]
    for col in columns
}

# Create DataFrame
df = pd.DataFrame(data)

# Set column types
for col, dtype in columns:
    df[col] = df[col].astype(dtype)

# Export to CSV
df.to_csv('dummy_data.csv', index=False)

print("Dummy CSV data has been generated and saved as 'dummy_data.csv'")

Dummy CSV data has been generated and saved as 'dummy_data.csv'

In [69]:
def csv_to_dict(file_path):
    with open(file_path, 'r') as f:
        d = {}
        keys = f.readline().strip().split(',')
        
        for key in keys:
            d[key] = []
        for line in f.readlines():
            values = line.strip().split(',')
            for key, value in zip(keys, values):
                d[key].append(value)
    return d

In [26]:
d = csv_to_dict('dummy_data.csv')

In [28]:
d['Country']

['Tokyo',
 'New York',
 'London',
 'London',
 'New York',
 'London',
 'London',
 'Tokyo',
 'New York',
 'New York',
 'New York',
 'New York',
 'London',
 'London',
 'New York',
 'New York',
 'Tokyo',
 'New York',
 'Tokyo',
 'London',
 'Tokyo',
 'New York',
 'London',
 'Tokyo',
 'London',
 'New York',
 'Tokyo',
 'New York',
 'New York',
 'Tokyo',
 'Tokyo',
 'New York',
 'Tokyo',
 'London',
 'London',
 'Tokyo',
 'New York',
 'Tokyo',
 'London',
 'New York',
 'Tokyo',
 'London',
 'New York',
 'London',
 'New York',
 'Tokyo',
 'New York',
 'Tokyo',
 'London',
 'New York',
 'New York',
 'Tokyo',
 'Tokyo',
 'London',
 'New York',
 'Tokyo',
 'Tokyo',
 'London',
 'Tokyo',
 'London',
 'London',
 'Tokyo',
 'Tokyo',
 'London',
 'New York',
 'New York',
 'Tokyo',
 'London',
 'London',
 'Tokyo',
 'London',
 'Tokyo',
 'New York',
 'New York',
 'Tokyo',
 'New York',
 'London',
 'New York',
 'New York',
 'New York',
 'London',
 'New York',
 'London',
 'Tokyo',
 'Tokyo',
 'Tokyo',
 'London',
 'New York',
 'London',
 'Tokyo',
 'London',
 'Tokyo',
 'Tokyo',
 'London',
 'Tokyo',
 'London',
 'New York',
 'Tokyo',
 'New York',
 'New York']

In [ ]:
columns_dict = {name:[]}

In [13]:
d = {"id": 5}

In [14]:
d

{'id': 5}

In [15]:
d = {"name": 'Abdo'}

In [16]:
d

{'name': 'Abdo'}

In [32]:
def csv_to_dict(file_path):

    with open(file_path, 'r') as file:
        columns_header = file.readline().strip().split(',')

        column_dict = {name: [] for name in columns_header}
                
        print(f"initial dict: {columns_dict}")
        
        for key in columns_header:
            columns_dict[key] = []

        for l in file:

            values = l.strip().split(',')

            for i, value in enumerate(values):
                columns_dict[columns_header[i]].append(value)

    return columns_dict


result = csv_to_dict('dummy_data.csv')
print(result)

initial dict: {'Salary': []}

KeyError: 'ID'

In [24]:
lst = ['t', 'a', 'h', 'e', 'r']

for c in lst:
    print(f"c: {c}")
print("////////////////////////////")
for i, c in enumerate(lst):
    print(f"i: {i}   c: {c}")
print("////////////////////////////")
for i, c in zip(range(len(lst)), lst):
    print(f"i: {i}   c: {c}")

c: t
c: a
c: h
c: e
c: r
////////////////////////////
i: 0   c: t
i: 1   c: a
i: 2   c: h
i: 3   c: e
i: 4   c: r
////////////////////////////
i: 0   c: t
i: 1   c: a
i: 2   c: h
i: 3   c: e
i: 4   c: r

In [37]:
d['Salary']

['90184.21602677339',
 '104597.93006823106',
 '136107.13455806926',
 '92228.25387400787',
 '108136.94944102467',
 '53576.73271168774',
 '50368.96952416977',
 '82744.02336749394',
 '116670.1386811015',
 '69377.04232155721',
 '141866.40260350262',
 '72179.1582975356',
 '137634.747181233',
 '126535.1126904712',
 '60415.5159893422',
 '39662.26410548379',
 '87762.16768489918',
 '113382.31081238504',
 '41325.85673612489',
 '39284.23772701706',
 '64899.71772543311',
 '42381.836842108794',
 '75016.78163248379',
 '147209.31943764444',
 '118636.94485920784',
 '93227.3388689913',
 '56438.93647245508',
 '131218.4887769056',
 '145554.08939122362',
 '118020.17382605476',
 '42708.367317803466',
 '95190.1591423028',
 '53014.063695373625',
 '124331.12487138856',
 '111682.95163505571',
 '82857.21044917015',
 '50627.85382617521',
 '80075.23130592058',
 '54680.97119627579',
 '49402.398103719635',
 '104064.50049205367',
 '131528.70952340576',
 '81652.66554235549',
 '136247.6811037079',
 '75721.30864362695',
 '45556.8253210914',
 '93204.27107398724',
 '141391.84454207853',
 '74118.72260341846',
 '73706.86125949933',
 '80608.58804510906',
 '61699.7724176514',
 '62975.58277294037',
 '42833.244365148086',
 '87520.37645686703',
 '38873.62373240445',
 '108578.46886710262',
 '146577.9770022704',
 '35397.024327654966',
 '73259.2088830008',
 '121390.4009467007',
 '142413.20312075445',
 '103979.38406906981',
 '97143.226694506',
 '95341.6541387141',
 '149648.20268761608',
 '147511.5442817749',
 '64370.390880795',
 '33210.6163114968',
 '50761.859052562046',
 '67948.94305438173',
 '45043.92844804265',
 '53894.79694613705',
 '135335.81214881895',
 '102793.87819409832',
 '108199.36305017346',
 '144831.41876958756',
 '31996.521889950476',
 '93040.43286477482',
 '105497.06484391933',
 '46190.793412146864',
 '118356.22069720642',
 '120901.89077900597',
 '108651.21171531563',
 '121332.24400619282',
 '117689.00811732425',
 '102854.3261090157',
 '42794.80932496324',
 '147553.0800561721',
 '67098.69945128736',
 '82305.61021827965',
 '51477.50908856024',
 '71232.46126958827',
 '100175.58854484405',
 '140903.50399860466',
 '72073.87244352886',
 '59571.40355944345',
 '74369.5084614387',
 '33333.14449492385',
 '76797.48636321982']

In [ ]:
d = get_columns(dict, ['ID', 'Salary'])

In [38]:
def get_columns(dict, keys):
    new_dict = {}
    for key in keys:
        new_dict[key] = dict[key]
    return new_dict

In [ ]:
d = change_type(dict, ['ID', 'Salary'], float)

In [39]:
int('60')

'60'

In [40]:
def change_type(dict, keys, type):
    for key in keys:
        for i in range(len(dict[key])):
            dict[key][i] = type(dict[key][i])
    return dict

In [42]:
d = change_type(d, ['ID', 'Salary'], float)

In [44]:
d['Salary']

[90184.21602677339,
 104597.93006823106,
 136107.13455806926,
 92228.25387400787,
 108136.94944102467,
 53576.73271168774,
 50368.96952416977,
 82744.02336749394,
 116670.1386811015,
 69377.04232155721,
 141866.40260350262,
 72179.1582975356,
 137634.747181233,
 126535.1126904712,
 60415.5159893422,
 39662.26410548379,
 87762.16768489918,
 113382.31081238504,
 41325.85673612489,
 39284.23772701706,
 64899.71772543311,
 42381.836842108794,
 75016.78163248379,
 147209.31943764444,
 118636.94485920784,
 93227.3388689913,
 56438.93647245508,
 131218.4887769056,
 145554.08939122362,
 118020.17382605476,
 42708.367317803466,
 95190.1591423028,
 53014.063695373625,
 124331.12487138856,
 111682.95163505571,
 82857.21044917015,
 50627.85382617521,
 80075.23130592058,
 54680.97119627579,
 49402.398103719635,
 104064.50049205367,
 131528.70952340576,
 81652.66554235549,
 136247.6811037079,
 75721.30864362695,
 45556.8253210914,
 93204.27107398724,
 141391.84454207853,
 74118.72260341846,
 73706.86125949933,
 80608.58804510906,
 61699.7724176514,
 62975.58277294037,
 42833.244365148086,
 87520.37645686703,
 38873.62373240445,
 108578.46886710262,
 146577.9770022704,
 35397.024327654966,
 73259.2088830008,
 121390.4009467007,
 142413.20312075445,
 103979.38406906981,
 97143.226694506,
 95341.6541387141,
 149648.20268761608,
 147511.5442817749,
 64370.390880795,
 33210.6163114968,
 50761.859052562046,
 67948.94305438173,
 45043.92844804265,
 53894.79694613705,
 135335.81214881895,
 102793.87819409832,
 108199.36305017346,
 144831.41876958756,
 31996.521889950476,
 93040.43286477482,
 105497.06484391933,
 46190.793412146864,
 118356.22069720642,
 120901.89077900597,
 108651.21171531563,
 121332.24400619282,
 117689.00811732425,
 102854.3261090157,
 42794.80932496324,
 147553.0800561721,
 67098.69945128736,
 82305.61021827965,
 51477.50908856024,
 71232.46126958827,
 100175.58854484405,
 140903.50399860466,
 72073.87244352886,
 59571.40355944345,
 74369.5084614387,
 33333.14449492385,
 76797.48636321982]

In [63]:
def label_encoder(dict, keys):
    for key in keys:
        unique_values = set(dict[key])
        values = {}
        for i, value in enumerate(unique_values):
            values[value] = i
        for i in range(len(dict[key])):
            dict[key][i] = values[dict[key][i]]
    return dict

In [64]:
labeled_d = label_encoder(d, ['City'])

In [70]:
d = csv_to_dict('dummy_data.csv')
d['City']

['London',
 'London',
 'London',
 'Tokyo',
 'New York',
 'London',
 'London',
 'New York',
 'New York',
 'London',
 'Tokyo',
 'New York',
 'Tokyo',
 'New York',
 'New York',
 'New York',
 'New York',
 'London',
 'New York',
 'New York',
 'New York',
 'London',
 'London',
 'New York',
 'Tokyo',
 'London',
 'London',
 'London',
 'London',
 'New York',
 'New York',
 'Tokyo',
 'Tokyo',
 'Tokyo',
 'London',
 'New York',
 'New York',
 'New York',
 'New York',
 'London',
 'Tokyo',
 'New York',
 'London',
 'London',
 'London',
 'Tokyo',
 'Tokyo',
 'London',
 'New York',
 'New York',
 'Tokyo',
 'London',
 'London',
 'Tokyo',
 'Tokyo',
 'New York',
 'Tokyo',
 'New York',
 'Tokyo',
 'New York',
 'New York',
 'Tokyo',
 'New York',
 'New York',
 'Tokyo',
 'Tokyo',
 'London',
 'Tokyo',
 'New York',
 'Tokyo',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'Tokyo',
 'New York',
 'London',
 'Tokyo',
 'London',
 'New York',
 'London',
 'Tokyo',
 'Tokyo',
 'New York',
 'London',
 'Tokyo',
 'New York',
 'London',
 'Tokyo',
 'Tokyo',
 'New York',
 'Tokyo',
 'London',
 'London',
 'New York',
 'Tokyo',
 'Tokyo',
 'London',
 'New York']

In [66]:
labeled_d['City']

[0,
 0,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 2,
 2,
 0,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 2,
 0,
 1,
 1,
 2,
 0,
 0,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 0,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 1]

In [ ]:
London = 1 0 0 
Tokyo = 0 1 0
New York = 0 0 1

In [48]:
u = set(d['City'])
u

{'London', 'New York', 'Tokyo'}

In [49]:
encodings = dict()
for i, value in enumerate(u):
    encodings[value] = i
encodings

{'London': 0, 'New York': 1, 'Tokyo': 2}

In [54]:
encodings['Tokyo']

2

In [59]:
encodings[d['City'][4]]

1

In [57]:
d['City'][4]

'New York'

In [60]:
for i in range(len(d['City'])):
    print(encodings[d['City'][i]])

0
0
0
2
1
0
0
1
1
0
2
1
2
1
1
1
1
0
1
1
1
0
0
1
2
0
0
0
0
1
1
2
2
2
0
1
1
1
1
0
2
1
0
0
0
2
2
0
1
1
2
0
0
2
2
1
2
1
2
1
1
2
1
1
2
2
0
2
1
2
1
1
1
1
1
2
1
0
2
0
1
0
2
2
1
0
2
1
0
2
2
1
2
0
0
1
2
2
0
1

In [71]:
import pandas as pd

In [73]:
data = pd.read_csv("dummy_data.csv")

In [78]:
data[['City', 'ID']].tail(10)

        City  ID
90     Tokyo  61
91  New York  27
92     Tokyo  82
93    London  23
94    London  51
95  New York  67
96     Tokyo  76
97     Tokyo  26
98    London  48
99  New York  56

In [79]:
data[data['City'] == 'London']

    ID      Name  Age    City   Country         Salary
0   26     Tokyo   37  London     Tokyo   90184.216027
1   98    London   61  London  New York  104597.930068
2   51     Tokyo   21  London    London  136107.134558
5   73    London   49  London    London   53576.732712
6   77  New York   60  London    London   50368.969524
9   36  New York   29  London  New York   69377.042322
17  88     Tokyo   35  London  New York  113382.310812
21  76  New York   57  London  New York   42381.836842
22  76    London   91  London    London   75016.781632
25  78    London   35  London  New York   93227.338869
26  54  New York   24  London     Tokyo   56438.936472
27  87     Tokyo   67  London  New York  131218.488777
28  96    London   23  London  New York  145554.089391
34  86    London   82  London    London  111682.951635
39  95     Tokyo   70  London  New York   49402.398104
42  67    London   55  London  New York   81652.665542
43  84    London   50  London    London  136247.681104
44  33     Tokyo   79  London  New York   75721.308644
47  51     Tokyo   22  London     Tokyo  141391.844542
51  43     Tokyo   72  London     Tokyo   61699.772418
52  45  New York   23  London     Tokyo   62975.582773
66  64    London   46  London     Tokyo  147511.544282
77  97    London   78  London  New York   31996.521890
79  78  New York   34  London  New York  105497.064844
81  92  New York   81  London  New York  118356.220697
85  64  New York   38  London     Tokyo  117689.008117
88  86    London   52  London    London  147553.080056
93  23     Tokyo   49  London    London  100175.588545
94  51    London   26  London     Tokyo  140903.503999
98  48     Tokyo   46  London  New York   33333.144495

In [80]:
import re
class ArabicNameError(Exception):
    def __init__(self, name):
        self.name = name
    def __str__(self):
        return f"Name {self.name} is not in English"
    

def english_to_arabic(name):
    if name == "Ahmed":
        return "أحمد"
    else:
        raise ArabicNameError(name)

In [82]:
english_to_arabic("أحمد")

ArabicNameError: Name أحمد is not in English

In [85]:
name = "أحمد"
try:
    arabic_name = english_to_arabic(name)
except ArabicNameError as e:
    print(e)
    arabic_name = english_to_arabic("Ahmed")

Name أحمد is not in English

In [86]:
arabic_name

'أحمد'

In [ ]:
__sub__ = -
__mul__ = *
__truediv__ = /
__floordiv__ = //
__mod__ = %
__pow__ = **
__add__ = +

In [107]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.last_name = None
        
    def __mul__(self, other):
        result = ""
        for i in range(other):
            result += self.name + ' '
        return person(result, other)
    
    @staticmethod
    def get_one_with_last_name(name, last_name, age):
        p = person(name, age)
        p.last_name = last_name
        return p

In [113]:
mark2 = person.get_one_with_last_name("mark", "smith", 30)

In [111]:
mark.last_name

In [114]:
mark2.last_name

'smith'

In [106]:
p = person("Ahmed", 20)
new_p = p * 3
# p.name =  "Ahmed Ahmed Ahmed"

In [102]:
p.name

'Ahmed'

In [103]:
new_p.name

'Ahmed Ahmed Ahmed '

In [104]:
new_p.age

3

In [ ]:
d = data.csv_to_dict('data.csv')
print(d.columns(['City', 'ID']))